<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />

<title>iCOOK激活邮件发送成功</title>
</head>
<body>

<h1>激活邮件发送成功，请及时激活账号。</h1>
<a href="{% url 'users:login' %}">去登陆</a>
<a href="{% url 'cook:index' %}">返回主页</a>

</body>
</html>