<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
{% load static %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300|Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
<script src="{% static 'cook/javascript/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("#p").hide();
  $("#bu").mouseover(function(){
  $("#p").toggle();
  });
  $("#bu").mouseout(function(){
  $("#p").hide();
  });
});
</script>
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="{% static 'cook/css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'cook/css/responsive.css' %}" rel="stylesheet" type="text/css">

<title>iCOOK简介</title>
</head>
<body>

<!-- START CONTENT -->
<div id="box">
	<div class="container">
<!-- START HEADER -->
<div class="columns one">
	<div id="header">
    	<div id="logo"><a href="{% url 'cook:index' %}">iCOOK</a></div>

        <ul class="menu">
        	<li><a href="{% url 'cook:index' %}">主页</a></li>
            <li><a href="{% url 'cook:recipes' 'all' %}">食谱</a></li>
            <li><a class="active" href="{% url 'cook:about' %}">简介</a></li>
            {% if request.user.is_authenticated %}
                <li><div id="bu" align="right" class="button2">
                    <a style='color: orange' href="{% url 'cook:person' %}">消息({{ count }})</a>
                    {{ user.nick_name }}▼
                <p id="p"><a style="color: #00a0dc;" onmouseover="this.style.textDecoration='underline' " onmouseout="this.style.textDecoration='none' " href="{% url 'cook:person' %}">个人中心</a>
                <a style="color: #00a0dc;" onmouseover="this.style.textDecoration='underline' " onmouseout="this.style.textDecoration='none' " href="{% url 'users:logout' %}">注销</a></p>
                </div></li>
            {% else %}
                <li><a href="{% url 'users:login' %}">登陆</a>/
                <a href="{% url 'users:register' %}">注册</a></li>
            {% endif %}
        </ul>
    <div class="navigation">
      <form action="http://wp.red-sky.pl/">
        <select class="navigationmicro" name="myDestination" onChange="ob=this.form.myDestination; window.location.href=ob.options[ob.selectedIndex].value;">
          <option value="#">- 简介 -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-{% if request.user.is_authenticated %}您好,{{ user.nick_name }}{% else %}未登录{% endif %}-</option>
          <option value="{% url 'cook:index' %}">主页</option>
          <option value="{% url 'cook:recipes' 'all' %}">食谱</option>
          <option value="{% url 'cook:about' %}">简介</option>
            {% if request.user.is_authenticated %}
            <option value="{% url 'cook:person' %}">{{ user.nick_name }}的个人中心</option>
            <option value="{% url 'users:logout' %}">注销</option>
            {% else %}
            <option value="{% url 'users:login' %}">登陆</option>
            <option value="{% url 'users:register' %}">注册</option>
            {% endif %}
        </select>
      </form>
      <div class="clear"></div>
    </div>
      <br>
    </div>
    	<div class="clear"></div>
</div>
<!-- END HEADER -->

<!-- START HINTS -->
<div class="hint columns one">
    <h1>Have a good day!</h1>
</div>
<!-- END HINTS -->

<!-- START CONTENT -->
<div class="columns one">

  <div class="single_post">
   <p>想看什么简介，对不起，没有简介，🤣哈哈哈哈哈哈哈哈哈哈哈哈~~~~~~~~~</p><br><br>
   <h3>⬇联系方式⬇</h3><br><br>
   <p> Email: phy654879998@foxmail.com </p>
      <a href="https://www.instagram.com/oh_2333/" >INS:  @oh_2333</a>

  </div>
</div>
    
<div class="clear"></div>
<!-- END CONTENT -->

<!-- START FOOTER -->
<div id="footer">
<p> Have a good day ! </p>
</div>
<!-- END FOOTER -->

	</div>
</div>
<!-- END CONTENT -->

</body>
</html>