body{
    width:100%;
    height:100%;
}
a:hover{
    text-decoration:underline;
}

.form-box{
    height: auto;
    width:290px;
    padding:0 40px;
    background:#fff;
    color:#666;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.form-box > h2,
.form-box > .tab{
    height:54px;
    line-height:54px;
    margin-bottom:34px;
    font-size:18px;
    font-weight:normal;
    color:#333;
    border-bottom:1px solid #eaeaea;
}
.form-box > .tab > h2{
    float:left;
    width:90px;
    height:53px;
    line-height:53px;
    cursor: pointer;
    font-weight:normal;
    text-align:center;
}
.form-box > .tab > h2.active{
     border-bottom:3px solid #6ec55a;
    color:#333;
}

.error{
    background: #fb8344;
    color:#fff !important;
    text-align: center;
    line-height: 40px !important;
    margin:10px 0;
}
.form-group{
    position:relative;
    width:288px;
    height:38px;
    border:1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow:hidden;
}
.marb20{
    margin-bottom:20px;
}
.marb8{
    margin-bottom:8px;
}
.marb38{
    margin-bottom:38px;
}
.form-group > label{
    float:left;
    width:72px;
    height:20px;
    line-height:20px;
    margin-top:9px;
    border-right:1px solid #eaeaea;
    text-align:center;
}
.form-group > input{
    float:left;
    width:195px;
    line-height:24px;
    padding:7px 10px;
    border:0;
    line-height:normal\9;
    padding:12px 10px 9px\9;
}
.captcha1 > input{
     width:80px;
}
.captcha1 > img{
    float:right;
    margin-top:5px;
}
.form-group .mobile-register-captcha{
    width:85px;
}
.form-group .captcha{
    cursor: pointer;
}
.auto-box{
    height:18px;
    line-height:18px;
}
.auto-box > label > input{
    vertical-align: sub;
}
.auto-box > label > a{
    color:green;
}
.form-box a{
    color:#666;
}
.form-box a:hover{
    color:#717171;
}
.btn{
    width:100%;
    height:42px;
    line-height:42px;
    font-size:14px;
    color:#fff;
    border:0;
    cursor:pointer;
}
.btn-green{
    background:#6ec55a;
}
.btn-green:hover{
    background:#5dbf45;
}


@media(max-width:960px)
{
body {width:100%;}


}

